@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --theme-color: #76bde9; 
}

body {
    background-color: #FFF;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/*----------------------------BODY----------------------------*/
header{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Raleway', sans-serif;
}

main{
    padding: 50px 0;
}

footer {
    opacity: 0.9;
    height: 30px;
    width: 80%;
    background-color: var(--theme-color);
    border-radius: 10px;
    /*text-align: center;*/
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

}

/* solution to anchor links with fixed header */
.anchor{
    display: block;
    height: 130px; /*same height as header*/
    margin-top: -130px; /*same height as header*/
    visibility: hidden;
}

/*----------------------------GENERAL STYLES----------------------------*/
h1 {
    color: var(--theme-color);
    text-align: center;
    font-weight: bold;
}

h2 {
    color: var(--theme-color);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h3 {
    color: rgb(100, 100, 100);
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

p {
    color: rgb(100, 100, 100);
    font-size: 12px;
    margin: 0px auto 40px auto;
    padding: 10px 10px;
    width: 800px;
    text-align: justify;
    line-height: 2em;
}

/*figcaption {
    text-align: center;
    font-size: 10px;
    color: rgb(100, 100, 100);;
    font-style: italic;
}*/


/*----------------------------HEADER----------------------------*/

.opening {
    /* border: 2px solid var(--theme-color);*/
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: #FFF;
    padding: 250px 0 500px 0;
    margin: 0 auto;
}
.MY {
    opacity: 0;
}
header h1 {
    /* border: 2px solid #9DD1F1;*/
    height: 100%;
    width: 100%;
    background-color: #FFF;
    padding: 20px 0;
    margin: 0 auto;
}

nav {
    color: #FFF;
    background-color: var(--theme-color);
    opacity: 0.9;
    text-align: center;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}

nav a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}

.wp-sections {
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    padding: 0 40px 8px 40px;
}
.wp-sections:hover {
    border-bottom: 4px solid white;
}

.dropdown {
    width: 100px;
    height: 80px;
    background-color: aliceblue; 
    list-style-type: none;
    float: none;
    margin: 12px 0 0 900px;
    padding: 5px 0 0 0;
}

.dropdown li a {
    display: block;
    position: relative;
    color:#3898d4;
    font-size: 14px;
    cursor: pointer; 
    width: 100px;
    height: 30px;
    margin: 10px 0 5px 0;
    padding: 0;
}

.help {
    cursor: pointer;
    font-weight: 600;
}

/*.home-fig img {
    display: block;
    margin: 5px auto;
    width: 30%;
}*/
/*----------------------------MAIN----------------------------*/

/*-----section titles-----*/
main h2 { 
    border-top: 1px solid var(--theme-color);
    padding-top: 15px;
    padding-bottom: 0;
}


/*-----section home-----*/
.home { 
    padding-bottom: 20px;
}

/*-----text in home section-----*/
.home p { 
    border: 2px dotted var(--theme-color);
    border-radius: 10px;
    width: 450px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/*-----slider in home-----*/
.slider {
    width: 430px;
    height: 280px;
    overflow: hidden;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
}

.slider .slides {
    display: inline-flex;
    flex-direction: row;
    width: 2150px;
    height: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider .slide {
    float: left;
    list-style-type: none;
    width: 430px;
    height: 280px;
    padding: 0;
    margin: 0;
}

/*-----bars under titles-----*/
.yoga-bar p {
    border-top: 1px solid var(--theme-color);
    width: 20px;
    text-align: center;
    margin: 0 auto;
}
.mind-bar p {
    border-top: 1px solid var(--theme-color);
    width: 70px;
    text-align: center;
    margin: 0 auto;
}
.retreats-bar p {
    border-top: 1px solid var(--theme-color);
    width: 40px;
    text-align: center;
    margin: 0 auto;
}

/*-----references-----*/
.ref p a {
    text-align: left;
    font-size: 10px;
    color: var(--theme-color);
    font-style: italic;
    text-decoration: none;
}

.ref p a:hover {
    text-decoration: underline;
}

/*-----lists-----*/
.retr {
    width: 800px; 
    text-align: left;
    margin: 0px auto;
    /*color: rgb(100, 100, 100);;
    font-size: 12px;
    line-height: 1em;*/
}

/*-----collage images-----*/
.collage  {
    width: 800px;
    height: 180px;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
}
.collage div {
    width: 260px;
    height: 110px;
    margin: auto;
    padding-top: 70px;
    border-radius: 15px;
    text-align: center;
}

/*----------------------------FOOTER----------------------------*/
footer p {
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.namas {
    display: flex;
    justify-content: space-between;
}

.follow a {
    text-decoration: none;
    color: #FFF;
}