.retreats-bar p {
    border-top: 1px solid var(--theme-color);
    width: 50px;
    text-align: center;
    margin: 0 auto;
}

/*-----collage images-----*/
.collage  {
    width: 800px;
    height: 180px;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
}
.collage div {
    width: 260px;
    height: 110px;
    margin: auto;
    padding-top: 70px;
    border-radius: 15px;
    text-align: center;
}

.one:hover{
    background-image: url(https://cdn.doyou.com/wp/2014/06/Zen-Resort-Bali-in-Seririt-Bali.jpg);
    background-size: 260px 180px;
}
.two:hover{
    background-image: url(https://cdn.doyou.com/wp/2014/06/Surf-Goddess-Retreats-in-Seminyak-Bali.jpg);
    background-size: 260px 180px;
}
.three:hover{
    background-image: url(https://cdn.doyou.com/wp/2014/06/Barberyn-Reef-Ayurveda-Resort-in-Beruwala-Sri-Lanka.jpg);
    background-size: 260px 180px;

}

/*-----lists-----*/
.Retreats {
    width: 800px; 
    text-align: left;
    margin: 0px auto;
}